%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {platform_define, "^[0-9]+", namespaced_types}]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls]}.

{profiles, [
    {bench, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {platform_define, "^[0-9]+", namespaced_types},
            {d, 'BENCH', true}
        ]}
    ]}
]}.

{plugins, [pc]}.

{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [{"priv/riak_dt_vclock.so", ["c_src/*.c"]}]}.

{edoc_opts, [{preprocess, true}]}.
